@using static CompilerProject3.Models.Keyword
@model CompilerProject3.ViewModels.CompilerResults

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="~/css/results.css" type="text/css" rel="stylesheet"/>
    <title>Results</title>
</head>
<body>

@if (Model.ScannerResult.GetResultsList().Count != 0)
{
    <h1>Scanner Result</h1>

    int NumOfErrors = 0;

    <table class="table table-striped table-hover">
        <tbody>

        @foreach (List<string> list in Model.ScannerResult.GetResultsList())
        {
            if (list[4] == Matched)
            {
                <tr>
                    <td class="lables">Source of code:</td>
                    <td class="values matched">@list[0]</td>
                    <td class="lables">Line number:</td>
                    <td class="values matched">@list[1]</td>
                    <td class="lables">Token text:</td>
                    <td class="values matched">
                        @if (list[2] == "\n")
                        {
                            @:&#92;n
                        }
                        else if (list[2] == "\t")
                        {
                            @:&#92;t
                        }
                        else
                        {
                            @list[2]
                        }
                    </td>
                    <td class="lables">Token type:</td>
                    <td class="values matched">@list[3]</td>
                </tr>

            }
            else
            {

                NumOfErrors++;

                <tr>
                    <td class="lables">Source of code:</td>
                    <td class="values not-matched">@list[0]</td>
                    <td class="lables">Line number:</td>
                    <td class="values not-matched">@list[1]</td>
                    <td class="lables">Error in Token text:</td>
                    <td class="values not-matched">@list[2]</td>
                </tr>
            }
        }

        </tbody>
    </table>
    <h3 class="end-of-result">
        <span class="lables">Total number of errors:</span>
        <span class="lables error-counter">@NumOfErrors</span>.
    </h3>
}
else
{
    <div class="no-results">
        No results found
    </div>
}


@if (Model.ParserResult.GetResultsList().Count != 0)
{
    <hr>

    <h1>Parser Result</h1>

    int NumOfErrors = 0;

    <table class="table table-striped table-hover">
        <tbody>

            @foreach (List<string> list in Model.ParserResult.GetResultsList())
            {
                if (list[2] == Matched)
                {
                    <tr>
                        <td class="lables">Source of code:</td>
                        <td class="values matched">@list[0]</td>
                        <td class="lables">Line number:</td>
                        <td class="values matched">@list[1]</td>
                        <td class="values matched">@list[2]</td>
                        <td class="lables">Rule used:</td>
                        <td class="values matched">@list[3]</td>
                    </tr>

                } else {

                    NumOfErrors++;
                    <tr>
                        <td class="lables">Source of code:</td>
                        <td class="values not-matched">@list[0]</td>
                        <td class="lables">Line number:</td>
                        <td class="values not-matched">@list[1]</td>
                        <td class="values not-matched">@list[2]</td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <h3 class="end-of-result">
        <span class="lables">Total number of errors:</span>
        <span class="lables error-counter">@NumOfErrors</span>.
    </h3>
}

</body>
</html>